<h1>Accommodations</h1>
<p>For your convenience, room blocks have been set aside at <a href="https://www.google.com/maps/place/Hampton+Inn+Brevard/@35.2779962,-82.702079,15z/data=!4m2!3m1!1s0x0:0x491d94c3b8adb5a1?sa=X&ved=0ahUKEwjE7qb86PrTAhVGOSYKHUzDB7cQ_BIIggEwDA">Hampton Inn Brevard</a>
  and <a href="https://www.google.com/maps/place/Etowah+Valley+Golf+Club+%26+Lodge/@35.3232024,-82.6053865,15z/data=!4m2!3m1!1s0x0:0xe8b2cfc4642d6539?sa=X&ved=0ahUKEwjYstDK84HUAhWmKcAKHSAyBTQQ_BIIfDAN">Etowah Valley Country Club</a>.</p>

<p>
  When making reservations, please reference "Wood Wilkerson Wedding" for discounted rate.
  For Hampton Inn, reserve before July 11, 2017.
  For Etowah Valley Country Club, reserve before July 27th, 2017.
</p>
