<div class="container">
	<form id="rsvp" #rsvpFormRef="ngForm" (ngSubmit)="onSubmit(rsvpFormRef.value)" novalidate>
		<h2>RSVP</h2>
		<br>
		<div>
			<p>Please RSVP by August 31st.</p>
		</div>
		<div>
			<p>
				I, <input name="name" id="name" type="text" placeholder="Your name" [ngModel]="name"/>,
				<select class="custom-select" name="inviteStatus" [ngModel]="inviteStatus">
					<option value="notGoing">am unable to attend</option>
					<option selected value="going">will joyfully attend</option>
				</select>
			</p>
		</div>
			I plan on bringing
			<select class="custom-select" name="guestType" [ngModel]="guestType" (change)="onGuestTypeChange($event.target.value)">
				<option selected value="self">myself</option>
				<option value="selfPlusOne">myself plus one</option>
			</select>
			<div *ngIf="isGuestBringingOneDate">
				<p>
					My guest's name is <input name="guestName" id="guestName" type="text" [ngModel]="guestName" placeholder="Guest name"/>
				</p>
			</div>
			<br>
		<button type="submit" class="btn btn-default">Send RSVP</button>
	</form>
	<simple-notifications [options]="notificationOptions"></simple-notifications>
</div>
