<div class="container">
	<form id="rsvp" #rsvpFormRef="ngForm" (ngSubmit)="onSubmit(rsvpFormRef.value)" novalidate>
		<h2>RSVP</h2>
		<br>
		<div>
			<p>Please RSVP by August 31st.</p>
		</div>
		<div>
			<p>
				I, <input name="name" id="name" type="text" placeholder="Your name" [ngModel]="name"/>,
				<select name="inviteStatus" [ngModel]="inviteStatus">
					<option value="notGoing">The World is Not Enough</option>
					<option selected value="going">Wouldn’t Miss It For the World</option>
				</select>
			</p>
		</div>
			I plan on bringing 
			<select name="guestType" [ngModel]="guestType" (change)="onGuestTypeChange($event.target.value)">
				<option selected value="self">myself</option>
				<option value="selfPlusDate">myself plus one</option>
			</select>
			<div *ngIf="isGuestBringingDate">
				<p>
					My date's name is <input name="dateName" id="dateName" type="text" [ngModel]="dateName" placeholder="Date name"/>
				</p>
			</div>
			<br>
		<button type="submit" class="form-control btn">Send RSVP</button>
	</form>
</div>