<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <div class="sidebar-nav">
        <div class="navbar navbar-default navbar-toggle" role="navigation">
          <div class="navbar-header">
            <ul class="nav navbar-nav list-group">
              <li class="list-group-item"><a routerlink="/" ng-reflect-router-link="/" ng-reflect-href="/" href="/">Home</a></li>
              <li class="list-group-item"><a routerlink="/rsvp" ng-reflect-router-link="/rsvp" ng-reflect-href="/rsvp" href="/rsvp">RSVP</a></li>
              <li class="list-group-item"><a routerlink="/location" ng-reflect-router-link="/location" ng-reflect-href="/location" href="/location">Location</a></li>
              <li class="list-group-item"><a routerlink="/registry" ng-reflect-router-link="/registry" ng-reflect-href="/registry" href="/registry">Registry</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
