<h1>Accommodations</h1>

<p>There are quite a lot of things to do during your stay in Brevard.</p>

<ul>
  <li>
    Transylvania County is known for its <a href="http://www.visitwaterfalls.com/">waterfalls</a>, including <a href="https://www.romanticasheville.com/sliding_rock_north_carolina.htm">Sliding Rock</a>.
  </li>
  <li>
    There are a few breweries in Brevard:
    <ul>
      <li><a href="http://www.brevard-brewing.com/">Brevard Brewery</a></li>
      <li><a href="http://www.sierranevada.com/brewery/north-carolina/taproom">Sierra Nevada</a> is about 30 minutes towards Asheville</li>
      <li><a href="https://www.oskarblues.com/brewery/brevard">Oscar Blues Brewery</a></li>
    </ul>
  </li>
  <li>
    <a href="http://www.etowahvalley.com/">Etowah Valley Country Club</a> is a nice, local place to get some golfing in!
  </li>
</ul>
