/* You can add global styles to this file, and also import other style files */
html {
  position: relative;
  min-height: 100%;
}

h1 {
  color: #369;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-weight: lighter;
}
body {
  margin: 2em;
  padding-top: 20px;
  background-color: mintcream;
  font-size: 22px;
  text-align: center;
  margin-bottom: 60px;
}

.footer {
  background-color: rgba(68, 122, 61, 1);
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 25px;
  text-align: center;
  font-size: 14px;
}

.footer p {
    color: white;
}