/* You can add global styles to this file, and also import other style files */
html {
  position: relative;
  min-height: 100%;
}

h1 {
  color: #369;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-weight: lighter;
}
body {
  font-family: 'Clicker Script', cursive;
  margin: 2em;
  padding-top: 20px;
  background:url("./assets/img/paul-earle-183430.jpg") top right no-repeat; background-attachment:fixed;
  background-position: center center;
  font-size: 22px;
  text-align: center;
  margin-bottom: 60px;
}

input {
  font-family: 'Clicker Script', cursive;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 25px;
  font-size: 14px;
  margin: 0 auto !important;
  text-align: center !important;
  width: 95% !important;
}

.footer p {
    color: white;
}

.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 60px; overflow: hidden;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

select {
  background: #5f552c;
  max-width: 225px;
  width: 12em;
  padding: 2px 5px;
  font-size: .95em;
  line-height: 1;
  height: 1.5em;
  color: antiquewhite;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: 'Clicker Script', cursive;
}

nav {
  background-color: rgba(68, 122, 61, 1);
}

.navbar-header > ul > li > a {
  color: mintcream;
}

.navbar-header > ul > li {
  background:none;
  border:none;
  box-shadow:none;
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
